/* Basic styling, feel free to expand and enhance this */
* {
  margin: 0;
  padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2{
  text-align: top;
}

header {
    background-color: #FF9900;
    color: #FFF;
    text-align: center;
    padding: 20px;
}

#promo {
    text-align: center;
    padding: 5px;
}

.promo-item {
    float: left;
    width: 30%;
    padding: 5px;
    
}

.promo-item img {
    padding: 0px;
    
}
.pdescript1 {
  text-align: center;
  
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


#promo2 {
    text-align: center;
    padding: 5px;
    
}

.promo-item2 {
    float: left;
    width: 30%;
    padding: 5px;
    
}

.promo-item2 img {
    padding: 0;
  
}
.p1descript {
  text-align: justify;
}
#descript {
  margin-bottom: 0px;
}
.row::after2 {
  content: "";
  display: table;
  clear: both;
}


#promo3 {
    text-align: center;
    padding: 5px;
    
}

.promo-item3 {
    float: left;
    width: 30%;
    padding: 5px;
    
}

.promo-item3 img {
    padding: 0;
  
}
.p1descript {
  text-align: justify;
}
#descript {
  margin-bottom: 0px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


#promo4 {
    text-align: center;
    padding: 5px;
    
}

.promo-item4 {
    float: left;
    width: 30%;
    padding: 5px;
    
}

.promo-item4 img {
    padding: 0;
  
}
.p1descript {
  text-align: justify;
}
#descript {
  margin-bottom: 0px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

button {
    background-color: #333;
    color: #FFF;
    margin: 30px;
    padding: 30px 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
/* Add these styles at the end of your existing styles.css file */
#cta {
    background-color: #FF9900;
    text-align: center;
    padding: 20px;
    width: 100%;
    
    bottom: 0;
}



footer {
  background-color: #FF9900;
    
    
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    color: #FFF;
    text-align: center;
    padding: 10px;
}





@media (max-width: 768px) {
  .image-container {
    flex-direction: column; /* Stack images vertically for small screens */
  }
}